#carte{
    width:100px;
}

#mainJ1 {
    position : absolute;
    bottom : 0%;
    right : 50%;  
}

#mainJ2 {
    position : absolute;
    left : 0%;
    top : 40%;  
}

#mainJ3 {
    position : absolute;
    left : 50%;
    top : 0%;  
}

#mainJ4 {
    position : absolute;
    right : 0%;
    top : 50%;  
}

#milieu {
    position : absolute;
    left : 30%;
    top : 40%; 
}

#pioche {
    position : absolute;
    left : 60%;
    top : 40%; 
}